
/* https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */

.tree-view {
  -fx-cell-size: 13;
  -fx-font-size: 11;
}

.table-view .list-view {
  -fx-cell-size: 13;
  -fx-font-size: 12;
}

.text-area .text-field {
  -fx-font-size: 12;
}



/*
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-skin: "com.sun.javafx.scene.control.skin.TabPaneSkin";
    -fx-tab-min-height: 15px;
    -fx-tab-max-height: 15px;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 0 0 0,0,0;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected {
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-tab-min-height: 15px;
    -fx-tab-max-height: 15px;
}
*/